<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor Dashboard - Healthcare Portal</title>

    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">

    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}"> <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}">

    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
    <script th:src="@{/js/components/patientRows.js}" defer></script>

</head>
<body>
<div class="container">
    <div class="wrapper">
        <div id="header"></div>

        <main class="main-content">
            <section class="dashboard-header">
                <h2>Patient Management</h2>

                <div class="filter-bar">
                    <input type="text" id="searchBar" placeholder="Search by patient name..." />
                    <button id="todayAppointmentsBtn" class="doctor-btn">Today's Appointments</button>
                    <input type="date" id="dateFilter" />
                </div>
            </section>

            <section class="table-container">
                <table id="patientTable">
                    <thead>
                    <tr>
                        <th>Patient ID</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Prescription</th>
                    </tr>
                    </thead>
                    <tbody id="patientTableBody">
                    </tbody>
                </table>
                <p id="noRecordMessage" class="noPatientRecord" style="display: none;">No patient records found for this date.</p>
            </section>
        </main>

        <div id="footer"></div>
    </div>
</div>

<script type="module" th:src="@{/js/services/patientServices.js}" defer></script>
<script type="module" th:src="@{/js/services/doctorDashboard.js}" defer></script>
</body>
</html>